:root {
    --primary-color: #4c5f54;
    --secondary-color: #416437;
    --accent1-color: #6b8d43;
    --accent2-color: #53793a;
    --heading-font: "Arial";
    --body-font: Helvetica;
}

header {
    background-color: var(--accent1-color);
    color: var(--accent1-color);
    opacity: 0.9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1{
    position:absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color: white;
    border-radius: 25px;
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
    
}

a {
    color: white;
}

/*Classes or IDs styled*/
.socialmedia a{
    text-decoration:none;
}

.hero {
    position: relative;
}

.hero img{
    display:block;
    width: 100%;
    height: auto;
}

.hero article img{
    float: right;
    width: 125px;
    border-radius: 25px;
    
}
.hero article {
    position:absolute;
    margin: 0;
    top: 100px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.85;
    background-color: var(--secondary-color);
    border-radius: 20px;
    

}
.hero p {
    position:relative;
    top: 1rem;
    left: 1rem;
    text-align: left;
    margin: 0;
    opacity: 0.8;
    color: white;
    
}
